.news-content {
	.content-inner {
		.post-wrapper {
			.thePost {
				text-align: left;
				p{
					padding: 0;
				}
				.img-wrapper {
					height: 400px;
				    width: 100%;
				    background-size: cover;
				    background-position: center top;
				}
			}
		}
	}
}


