input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
    border: none;
    margin-bottom: 0;
    border-bottom: 1px dotted $text;
    background-color: #fff;
    border-radius: 0;
    position: relative;
    color: #565656;
    z-index: 0;
    min-height: 49px;
    font-family: $headline;
    width: 50%;
    float: left;
}

input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
textarea:focus {
    border: 1px solid $background;
}

#name {
    border-right: 1px dotted $text;
}

#subject,
textarea {
    width: 100%;
}

textarea {
    height: auto;
    border-bottom: 1px dotted;
}

label {
    font-family: $headline;
}

input[type=submit] {
    width: 100%;
    height: auto;
    border: none;
    background-color: $background;
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted;
    border-radius: 0;
    font-family: $headline;
}

input[type=submit]:hover {
    background-color: $text;
    color: $background;
}

.contact-page-form {
    padding: 1em;
}

.contact-inner {
    padding-top: 2em;
}

form.wpcf7-form {
    width: 100%;
    margin: 1em auto;
    border-top: 1px dotted;
    border-left: 1px dotted;
    border-right: 1px dotted;
}

form.wpcf7-form p {
    margin: 0;
}

form.wpcf7-form span.ajax-loader {
    margin: 0;
    width: 0;
}