

@font-face {
    font-family: 'otama.epregular';
    src: url(../assets/fonts/otama-ep-webfont.woff2) format("woff2"), url(../assets/fonts/otama-ep-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: vast_shadowregular;
    src: url(../assets/fonts/vastshadow-regular-webfont.woff2) format("woff2"), url(../assets/fonts/vastshadow-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: cabinbold;
    src: url(../assets/fonts/cabin-bold-webfont.woff2) format("woff2"), url(../assets/fonts/cabin-bold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: cabinbold_italic;
    src: url(../assets/fonts/cabin-bolditalic-webfont.woff2) format("woff2"), url(../assets/fonts/cabin-bolditalic-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: cabinitalic;
    src: url(../assets/fonts/cabin-italic-webfont.woff2) format("woff2"), url(../assets/fonts/cabin-italic-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: cabinmedium;
    src: url(../assets/fonts/cabin-medium-webfont.woff2) format("woff2"), url(../assets/fonts/cabin-medium-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: cabinmedium_italic;
    src: url(../assets/fonts/cabin-mediumitalic-webfont.woff2) format("woff2"), url(../assets/fonts/cabin-mediumitalic-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: cabinregular;
    src: url(../assets/fonts/cabin-regular-webfont.woff2) format("woff2"), url(../assets/fonts/cabin-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: cabinsemibold;
    src: url(../assets/fonts/cabin-semibold-webfont.woff2) format("woff2"), url(../assets/fonts/cabin-semibold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: cabinsemibold_italic;
    src: url(../assets/fonts/cabin-semibolditalic-webfont.woff2) format("woff2"), url(../assets/fonts/cabin-semibolditalic-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: texgyreadventorregular;
    src: url(../assets/fonts/texgyreadventor-regular-webfont.woff2) format("woff2"), url(../assets/fonts/texgyreadventor-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}


$headline: texgyreadventorregular;
$paras: cabinregular;